.custom-btn {
  width: 100%;
  letter-spacing: 1px;
}
.login-form {
  width: 348px;
  height: 498px;
  padding: 50px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form .login-form-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form .logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form .login-form-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.login-form .login-form-section form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-form .login-form-caption p {
  font-family: var(--font-chakra-petch);
  color: var(--clr-meduim-grey);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
.login-form-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form-group {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: none;
}
.form-group label {
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-style: bold;
}
.form-group input[type='text'] {
  width: 348px;
  height: 40px;
  background: var(--clr-lightest-grey);
  border-radius: 5px;
  border: none;
}
.form-group input[type='text']::placeholder {
  opacity: 0.7;
  font-family: var(--font-nunito);
  font-weight: 400;
  line-height: 19px;
  padding: 10px;
}

.login-button-container {
  margin-top: 20px;
}
.send-again-section {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 0px 16px 0px 0px;
  gap: 8px;
  height: 32px;
}
.send-again-section p {
  color: var(--clr-primary-color);
  font-family: var(--font-chakra-petch);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
